{% extends "index.html" %}
{% block title %}Отправить письмо{% endblock %}

{% block content %}
    <h1>Напишите письмо</h1>
    <a href="{{ url_for('inbox_bp.inbox') }}">Входящие сообщения</a> | <a href="{{ url_for('spam_bp.spam') }}">Спам</a>
    <form method="POST">
        <label for="to_email">To:</label>
        <input type="email" id="to_email" name="to_email" required><br>
        
        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject" required><br>

        <label for="message_body">Message:</label><br>
        <textarea id="message_body" name="message_body" rows="10" cols="30" required></textarea><br>

        <button type="submit">Отправить</button>
{% endblock %}